@using ScriptureExercise.Models.ExerciseVM
@using Common.Helpers
@model ExerciseListVM

@{
    ViewData["Title"] = "習題卷";

    var ScriptureCode = ScriptureHelper.scriptureTrans[Model.ScriptureName];
    var dataSource = $"/lib/DB/{ScriptureCode}/{ScriptureCode}{Model.SubjectId}_{Model.PageId}.js";
}

@section TopCSS{
    <link rel="stylesheet" href="~/css/Exercise/paper.css">
}

@section Scripts{
    <script>
        let jsonFileName = '@($"{ScriptureCode}/{ScriptureCode}{Model.SubjectId}_{Model.PageId}")'
    </script>
    <script src = "~/js/Exercise/paper.js"></script>
} 


<div id="vue_paper">
    <div class="exercise-banner">
        @* <h2 class="h">論語(一)</h2>
        <h3 class="h">卷6-述而</h3> *@
        <h2 class="h">@Model.ScriptureName  @Model.SubjectId</h2>
        <h3 class="h">卷 @Model.PageId-{{paper.range_remark}}</h3>
        @* <p>總題數<span class="numberOfQuestions">{{paper.questions.length}}</span></p> *@
    </div>

    <div class="hint">
        <p>選擇題1分、填充題每格1分</p>
        <p>默寫題10分(不含標點，全對才給分)</p>  
        <!-- <li>默寫題10分(回答完整字句不含標點，全對才給分，沒有部分給分)</li>   -->
    </div>

    <div class="question-container">
        <ol>
            <li v-for="(q,i) in paper.questions"
                class="question d-flex"
            >
                <div class="question-order">{{q.order}}.</div>
                <div v-if="q.type==1">
                    <p class="stem choices-question-stem">{{q.stem}}</p>

                    <div class="pl-2">
                        <div v-for="(choice,j) in q.choices">
                            <label>
                                <input type="radio" class="choices-question-input"
                                :name="i" 
                                :value="j" 
                                v-model="q.choosed">
                                {{choice}}
                            </label>
                        </div>
                    </div>
                </div>

                <div v-else-if="q.type==2" >
                    <p class="stem essay-question-stem">{{q.stem}}</p>
                    @* 回答、(答案) *@
                    <div class="">
                        <input type="text" class="essay-question-input"  
                            v-model="q.reply"
                            placeholder="輸入回答：（請完全不含標點符號與空白，程式才能核對）" >
                        @* <p class="stem essay-question-stem">{{q.stem}}
                            <div class="essay-question-hint">
                                （請輸入完全不含標點符號與空白之答案，程式才能核對）</div>
                        </p>
                        <input class="essay-question-input"
                        type="text" placeholder="輸入您的回答" 
                        v-model="q.reply"> *@
                    </div>
                </div>
        
                <div v-else-if="q.type==3">
                    <span v-for="(fraction , index) in q.stems">
                        {{fraction}}<input disabled v-model="q.replies[index]" >
                        @* 如果有答案 *@
                    </span>
                </div>
            </li>
        </ol>
    </div>
    <div class="actions">
        <button class="custom-btn xl-green-btn" v-on:click="postPaper">
            SUBMIT 提交 <i class="fa-solid fa-arrow-right-long"></i>
        </button>
    </div>
</div>

