@model (string ScriptureCode, string ScriptureTitle, int SubjectId, int PaperId) 

@{
    ViewData["Title"] = "習題卷";

    var ScriptureCode = Model.ScriptureCode;
    var dataSource = $"/lib/DB/{ScriptureCode}/{ScriptureCode}{Model.SubjectId}_{Model.PaperId}.js";
}
@section TopCSS{
    <link rel="stylesheet" href="~/css/Exercise/paper.css">
}

@section Scripts{
    <script>
        const jsonFilePath = '@($"{ScriptureCode}/{ScriptureCode}{Model.SubjectId}_{Model.PaperId}")'
    </script>
    <script src = "~/js/Exercise/paper.js"></script>
} 


<div id="vue_paper">
    <div class="exercise-banner">
        <h2>{{paper.info.subjectTitle}} </h2>
        <h3>卷{{paper.info.paperId}} - {{paper.info.range_remark}} </h3>
        <p>共<span class="numberOfQuestions">{{paper.questions.length}}</span>題</p> 
    </div>
    
    <div class="hint">
        <p>選擇題1分</p>@*、填充題每格1分*@
        <p>默寫題10分(不含標點，全對才給分)</p>  
    </div>

    <div class="question-container">
        <ol>
            <li v-for="(q,i) in paper.questions"
                class="question d-flex"
            >
                <div class="question-order">{{q.order}}.</div>
                <div class="question-body">
                    <div v-if="q.type==1">
                        <p class="stem choices-question-stem">{{q.stem}}</p>
                        <div v-for="(choice,j) in q.choices">
                            <label class="d-flex">
                                <span class="choices-question-answer">
                                    <input type="radio" class="choices-question-input"
                                    :name="i"
                                    :value="j"
                                    v-model="q.choosed">
                                </span>
                                <span>{{choice}}</span>
                            </label>
                        </div>
                    </div>
                    <div v-else-if="q.type==2" >
                        <p class="stem essay-question-stem">{{q.stem}}</p>
                        @* 回答、(答案) *@
                        <div class="">
                            <input type="text" class="essay-question-input"
                                v-model="q.reply"
                                placeholder="輸入回答：（請完全不含標點符號與空白，程式才能核對）" >
                        </div>
                    </div>
                    <div v-else-if="q.type==3">
                        <span style="color:red;">【如方便，請通報此題的 考科、卷別、題號】</span>
                        <span v-for="(fraction , index) in q.stems">
                            {{fraction}}<input disabled v-model="q.replies[index]" >
                              @* 結尾永遠有多一個 input。 利用開頭或收尾 空字串，確保控制不多出 *@
                        </span>
                    </div>
                </div>
            </li>
        </ol>
    </div>
    <div class="actions">
        <button class="custom-btn xl-green-btn" v-on:click="postPaper">
            SUBMIT 提交 <i class="fa-solid fa-arrow-right-long"></i>
        </button>
    </div>
</div>

