@model string

@{
    ViewData["Title"] = "練習紀錄";
}

<div id="vue_record">
    <div class="exercise-banner">
        <h2>{{paper.paperScheme.scriptureTitle}} {{paper.paperScheme.subjectId}} </h2>
        <h3>卷{{paper.paperScheme.paperId}} -{{paper.range_remark}} </h3>
    </div>

    <div class="result">
        @* <div class="score red green"> *@
        @* <div id="score" :class="computeColor"></div> *@

        <div v-if="percentScore<80" class="score red">
            <div class="comment">再加把勁</div>
            <span class="main-text">{{percentScore}}%</span>
            <div class="sm-text-container">
                <span class="sm-text">得分數：{{score}}</span>
                <span class="sm-text">總題數：{{paper.questions.length}}</span>
            </div>
        </div>
        <div v-else class="score green">
            <div class="comment">繼續保持</div>
            <span class="main-text">{{percentScore}}%</span>
            <div class="sm-text-container">
                <span class="sm-text">得分數：{{score}}</span>
                <span class="sm-text">總題數：{{paper.questions.length}}</span>
            </div>
        </div>

        <div class="filters">
            <b-form-checkbox v-model="filters.onlyWrong_Checked" switch class="filter">
                只顯示錯題
            </b-form-checkbox>
            <b-form-checkbox v-model="filters.onlyDone_Checked" switch class="filter">
                只顯示有回答的題目
            </b-form-checkbox>
        </div>
    </div>

    <div class="question-container">            
@* 希望長一樣，差異只有：showQuestions 、加 disabled、顯示正解 *@
        <ol>
            <li v-for="(q,i) in showQuestions"
                class="question d-flex"
            >
                <div class="question-order">{{q.order}}.</div>
                <div v-if="q.type==1">
                    <p>{{q.stem}}</p>
                    <div class="pl-3">
                        <div v-for="(choice,j) in q.choices">
                            <label>
                                <input type="radio" 
                                disabled
                                :name="i" 
                                :value="j" 
                                v-model="q.chooesd"
                                >
                                {{choice}}
                                <span v-if="j==q.answer"><i class="fa-solid fa-check"></i></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div v-else-if="q.type==2" >
                    <p>{{q.stem}}</p>
                    <div class="pl-3">
                        <input 
                        disabled
                        type="text" 
                        v-model="q.reply">
                        <div>正確答案：<span>{{q.answer}}</span>
                        </div>
                    </div>
                </div>
        
                @* <div v-else-if="q.type==3">
                    <span v-for="(fraction , index) in q.stems">
                        {{fraction}}<input disabled v-model="q.replies[index]" >
                        如果有答案 
                    </span>
                </div> *@
            </li>
        </ol>
    </div>
    <div class="question-container"></div>

    <a :href="Link_exerciseAgain" class="without-hyperLink-style d-block">
        <button class="custom-btn green-btn">
            TRY AGAIN 再練習一次
        </button>
    </a>
    <a :href="Link_Chapters" class="without-hyperLink-style d-block mt-2">
        <button class="custom-btn gray-btn">
            BACK TO CHAPTER 回到練習章節
        </button>
    </a>
</div>

@section TopCSS{
    <link rel="stylesheet" href="~/css/Exercise/Record.css">
}

@section Scripts{
    <script>
        let createTimeId = '@Model'
    </script>
    <script src = "~/js/Exercise/Record.js"></script>
} 


