@{
    ViewData["Title"] = "練習歷史";
}
@section TopCSS{
    <link rel="stylesheet" href="~/css/Exercise/recordList.css">
}

@section Scripts{
    <script src="~/lib/DB/scriptures.js"></script>
    <script src="~/js/Exercise/recordList.js"></script>
}

<div id="vue_recordList">
    <div class="text-center">
        <h2 class="title">練習結果列表</h2>
        <p class="hint">最多保留15筆紀錄，超過時將自動從最舊的刪除。</p>
    </div>
    <div class="records-container">
        <div id="vue_recordList">
            <b-table 
                :busy="tableBusy"
                :fields="fields" 
                :items="records" 
                :sort-by.sync="sortBy"
                :sort-desc.sync="sortDesc"
                thead-tr-class="thead-tr-class"
            >
            <!-- sticky-header  當部分欄位能排序，部分欄位不能排序時 會壞掉... --> 
                <template #table-busy>
                    <div class="text-center text-danger my-2">
                    <b-spinner class="align-middle"></b-spinner>
                    <strong>載入中...</strong>
                    </div>
                </template>

                <template #cell(createTimeId)="row">
                    <a :href="`/Exercise/Record/${row.item.createTimeId}`">
                        <span>{{row.value[0]}}</span>
                        <span>{{row.value[1]}}</span>
                    </a>

                </template>

                <template #cell(paperCode)="row">
                    <span>{{row.value.subjectTitle}}</span>
                    <span>卷{{row.value.paperId}}-{{row.value.range_remark}}</span>
                </template>

                <template #cell(percentScore)="row">
                    <span>{{row.value}} </span>
                </template>

                @* <template #cell(link)="row">
                    <a :href="`/Exercise/Record/${row.item.createTimeId}`" 
                        style="font-size: 11px;">查看</a>
                </template> *@

                <template #cell(Delete)="row">
                    <b-button 
                        variant="outline-primary"
                        size="sm"
                        v-on:click="deleteRecord(row.item.createTimeId , $event)">
                        刪除
                    </b-button>
                </template>
            </b-table>
        
            <p v-if="records.length==0" class="text-center">您目前無任何練習紀錄</p>
        </div>
    </div>
    
    <!-- <button class="xxbtn">
        GO PRACTICE 練習其他經典
    </button> -->
</div>