@model string

@{
    ViewData["Title"] = "練習結果";
}
@section TopCSS{
    <link rel="stylesheet" href="~/css/Exercise/Record.css">
}

@section Scripts{
    <script>
        const createTimeId = '@Model'
    </script>
    <script src = "~/js/Exercise/Record.js"></script>
} 
<div id="vue_record">
    <div class="exercise-banner">
        <h2>{{paper.info.subjectTitle}} </h2>
        <h3>卷{{paper.info.paperId}} - {{paper.info.range_remark}} </h3>
    </div>

    <div class="result">
        @* <div class="score red green"> *@
        @* <div id="score" :class="computeColor"></div> *@

        <div v-if="percentScore<80" class="score red">
            <div class="comment">再加把勁</div>
            <span class="main-text">{{percentScore}}%</span>
            <div class="sm-text-container">
                <span class="sm-text">得分數：{{score}}</span>
                <span class="sm-text">總題數：{{paper.questions.length}}</span>
            </div>
        </div>
        <div v-else class="score green">
            <div class="comment">繼續保持</div>
            <span class="main-text">{{percentScore}}%</span>
            <div class="sm-text-container">
                <span class="sm-text">得分數：{{score}}</span>
                <span class="sm-text">總題數：{{paper.questions.length}}</span>
            </div>
        </div>

        <div class="filters">
            <b-form-checkbox v-model="filters.onlyWrong_Checked" switch class="filter">
                只顯示錯題
            </b-form-checkbox>
            <b-form-checkbox v-model="filters.onlyDone_Checked" switch class="filter">
                只顯示有回答的題目
            </b-form-checkbox>
        </div>
    </div>

    <div class="question-container">            
@* 希望長一樣，差異只有：篩選showQuestions 、加 disabled、顯示正解 *@ 
        <ol>
            <li v-for="(q,i) in showQuestions"
                class="question d-flex"
            >
                <div class="question-order">{{q.order}}.</div>
                <div v-if="q.type==1">
                    <p class="stem choices-question-stem">{{q.stem}}</p>
                    <div v-for="(choice,j) in q.choices">
                        @* 回答 三情境 *@
                        @* 答對 *@
                        @* 答錯 *@
                        @* 無提交 *@

                        @* 選項 四情境 *@
                        @* 回答  '是答案' => 綠勾 *@
                        @* 非回答 '是答案' => 紅勾 *@
                        @* 回答  非答案 => 紅叉*@
                        @* 非回答 非答案 => 卡位 *@

                        
                        <label class="d-flex">
                            <span class="choices-question-answer">
                                <span :class="q.choosed==q.answer?'choices-question-answer_matched':'choices-question-answer_different'">
                                    <span v-if="j==q.answer"><i class="fa-solid fa-check"></i></span>
                                    <span v-else-if="j==q.choosed"><i class="fa-solid fa-xmark"></i></span>
                                    <span v-else>
                                        <input type="radio" class="choices-question-input"
                                        disabled >
                                    </span>
                                </span>
                            </span>
                            <span>{{choice}}</span>
                        </label>
                    </div>
                </div>

                <div v-else-if="q.type==2" >
                    <p class="stem essay-question-stem">{{q.stem}}</p>
                    @* 回答、(答案) *@
                    <div class="">
                        <input type="text" class="essay-question-input"
                            v-model="q.reply"
                            disabled>

                        @* 核對錯誤->紅，核對正確/得分-> 綠/【根本不顯示】?   *@
                        <div class="essay-question-answer">
                            <span :class="q.reply==q.answer?'essay-question-answer_matched':'essay-question-answer_different'">
                                {{q.answer}}</span>
                            @* <span v-if="q.reply==q.answer" 
                                class="essay-question-answer_matched">
                                {{q.answer}}</span>
                            <span v-else 
                                class="essay-question-answer_different">
                                {{q.answer}}</span> *@
                        </div>
                    </div>
                </div>
        
                @* <div v-else-if="q.type==3">
                    <span v-for="(fraction , index) in q.stems">
                        {{fraction}}<input disabled v-model="q.replies[index]" >
                        如果有答案 
                    </span>
                </div> *@
            </li>
        </ol>
    </div>
    <div class="actions">
        <a :href="link_exerciseAgain" class="without-hyperLink-style d-block">
            <div class="custom-btn green-btn">
                TRY AGAIN 再練習一次
            </div>
        </a>
        <a :href="link_chapters" class="without-hyperLink-style d-block mt-2">
            <div class="custom-btn gray-btn">
                BACK TO SUBJECT 回到考科
            </div>
        </a>
    </div>
</div>