.white-sun {
    margin: 0 auto;
    left: -111px;
    right: -111px;
    top: unset;
    bottom: 153px;
}

.sun {
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border: 3px solid #D8FF69;
    border-radius: 50%;

    background: #FFFFFF;

    position: absolute;
    left: calc(50% - 25px);
    top: calc(50% - 25px);
}

main{
    display: flex;
    flex-direction: column;
    justify-content: end;

    padding-left: 22px;
    padding-right: 22px;
}

.slogan-title {
    font-family: 'Helvetica', 'Open Sans', 'Noto Sans TC', sans-serif!important;;
    font-weight: 700;
    font-size: 56px;
    line-height: 64px;

    margin-bottom: 19px;
}

.slogan-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
}


.sign-area{
    font-weight: 500;
    font-size: 26px;

    margin-top: 32px;
}

.nav-login{
    display: block;
}
.login-text{}
.login-image-btn{
    display: inline-block;
    box-sizing: border-box;
    width: calc(100% - 200px);
    height: 42px;

    margin-bottom: -4px;
    margin-left: 22px;
    
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    border-bottom-right-radius: 5px;

    
    &::after{
        content: '';
        display: block;
        box-sizing: border-box;
        border-bottom: 1px solid #000;

        // transform: rotate(-45deg);
        // width: 20px;
        // margin-top: 7px; //自己的5/3
        // margin-left: calc(100% - 17px);//- 自己的 0.5 + 4/5

        transform: rotate(-50deg);
        width: 17px;
        margin-top: 6px;
        margin-left: calc(100% - 13px);
    }
}
