<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google Tag Manager -->
@*    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T48VQF7');</script>
*@    <!-- End Google Tag Manager -->

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ScriptureExercise</title>

    <link rel="stylesheet" href="~/lib/cssReset.css" />
    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link rel="stylesheet" href="~/lib/bs-vue2_22_0/bootstrap4_6_1.min.css"/>
    <link rel="stylesheet" href="~/lib/bs-vue2_22_0/bootstrap-vue2_22_0.min.css"/>
    
@*    <link href="~/lib/toastr2.1.3.min.css" rel="stylesheet"/>
*@
    <link rel="stylesheet" href="~/css/site.css" />
    @await RenderSectionAsync("TopCSS", required: false)


    <!-- Load polyfills to support older browsers -->
    @*<script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>*@

    <!-- Load Vue followed by BootstrapVue -->
    <script src="~/lib/bs-vue2_22_0/vue2_6_12.min.js"></script>
    <script src="~/lib/bs-vue2_22_0/bootstrap-vue2_22_0.min.js"></script>
    <!-- Load the following for BootstrapVueIcons support -->
    <script src="~/lib/bs-vue2_22_0/bootstrap-vue-icons2_22_0.min.js"></script>
    @* <script src="https://kit.fontawesome.com/62756de202.js" crossorigin="anonymous"></script> *@
    <script src="~/lib/fontawesome.js" crossorigin="anonymous"></script>
@*    <script src="~/lib/toastr2.1.3.min.js"></script>
*@    <script src="~/lib/sweetalert2@11.js"></script>


    @await RenderSectionAsync("TopJS", required: false)
</head>
<body class="bg-secondary">
    <!-- Google Tag Manager (noscript) -->
@*    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T48VQF7"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
*@    <!-- End Google Tag Manager (noscript) -->
	<div></div>
    <div class="view-container">
		<div class="white-sun"> @* 與 header夾著主內容 *@
			<div class="halo"></div>
			<div class="sun"></div>
		</div>
		<header id="vue_nav">
			<div class="classics-navbar d-flex justify-content-between align-items-center">
				<div class="hamburger d-flex flex-column justify-content-between" onclick="showMenu()">
					<span></span>
					<span></span>
					<span></span>
				</div>
				<h1 class="app-title">CLASSICS</h1>
				<div class="book-btn">
					<i class="fa-solid fa-book"></i>
				</div>
			</div>
			<div id="menu_bg" onclick="hideMenu()"></div>
			<div id="menu">
				<div class="menu-header">
					<h2 class="text-center">
						<span class="">CLASSICS</span>
						<span class="">經典練習</span>
					</h2>
				</div>

				<ul>
					<li><a href="/Home/Index">首頁</a></li>
					@*聯繫站方/其他資源*@
					<li><a href="/Home/About">關於網站</a></li> 

					@*					@{
						var fullName = User.Claims.FirstOrDefault(c=> c.Type=="FullName")?.Value;
					}*@
					@*<partial name="_NavLoginPartial.cshtml" model="fullName"/>*@
					<partial name="_NavLoginPartial.cshtml"/>
					@* @await Html.PartialAsync("_NavLoginPartial");*@

				</ul>
				<div class="menu-footer"></div>
			</div>
		</header>
		<main>
            @RenderBody()
		</main>
	
		<footer>
		</footer>
	</div>

    <script src="~/js/apiBase.js"></script>
    <script src="~/js/site.js"></script>
    <script>
        let vue_nav = new Vue({
            el:'#vue_nav',
        })
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

