@if (User.Identity.IsAuthenticated)
{
    var showName = User.Claims
    .FirstOrDefault(c=> c.Type== Common.Helpers.Define.CLAIMTYPE_SHOWNAME)
    ?.Value;
    <li><a href="/Account/Logout">登出 [@showName]</a></li>
     @*<li><a href="/Account/Logout">登出 [@Model]</a></li>*@
}
else
{
    <li><a href="/Account/Login">登入</a></li>
}