<li><a href="/Exercise/Subjects">選擇考科</a></li>
<li><a href="/Exercise/xx">我的書單</a></li>
<li><a href="/Exercise/RecordList">練習紀錄</a></li>
<li><a href="/Member/Settings">會員中心</a></li>
@if (User.Identity.IsAuthenticated)
{
    <li><a href="/Account/Logout">登出</a></li>
}
else
{
    <li><a href="/Account/Login">登入</a></li>
}