<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BsVueTemplate</title>

    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link type="text/css" rel="stylesheet" href="../../lib/BSVue2_22_0/bootstrap4_6_1.min.css" />
    <link type="text/css" rel="stylesheet" href="../../lib/BSVue2_22_0/bootstrap-vue2_22_0.min.css" />

    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/Account/untracked.css">
    
    <!-- Load polyfills to support older browsers -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>

    <!-- Load Vue followed by BootstrapVue -->
    <script src="../../lib/BSVue2_22_0/vue2_6_12.min.js"></script>
    <script src="../../lib/BSVue2_22_0/bootstrap-vue2_22_0.min.js"></script>

    <!-- Load the following for BootstrapVueIcons support -->
    <script src="../../lib/BSVue2_22_0/bootstrap-vue-icons2_22_0.min.js"></script>
</head>
<body>
    <div id="vue_untracked">
        <main>
            <div class="container">
                <div class="untracked py-5 d-flex flex-column align-items-center">
                    <p>使用@User.Identity.AuthenticationType帳號登入的 @User.Identity.Name您好：</p>
                    <p>此帳號尚未綁定至本服務的任一會員下</p>
                    <p>您已經是本服務的會員了嗎
                    </p>

                    <input class="toggleInput" type="checkbox" v-model="isMember" id="x"/>
                    <label for="x">
                        <span class="switch-txt" 
                        turnOn="是" turnOff="否"
                        ></span>
                    </label>
                
                </div>

                
                <form :action="formAction" class="d-flex flex-column align-items-center" >
                    <p v-if="isMember">
                    請輸入您的<b>會員密鑰</b>，將此帳號綁定至同一會員身分下 
                    (=> 可能查不到 => 回此處，並且toggle button保持、swal出訊息)
                    </p>
                    <p v-else>
                        請首次設定<b>會員密鑰</b>以建立新會員，未來其他帳號可透過密鑰綁定至同一會員下
                    </p>

                    
                    <div v-for="(x, key) in fields">
                        <!-- <b-form-group
                            id="fieldset-1"
                            description="說明"
                            :label="x.text"
                            :label-for="key"
                            valid-feedback="謝謝!"
                            :invalid-feedback="invalidFeedback"
                            :state="state"
                        >
                            <b-form-input :id="key" v-model="name" 
                            :state="state">
                            </b-form-input>
                        </b-form-group> -->

                        <label >{{x.text}}：<span class="text-danger small">{{errMsgs[key]}}</p>
                            <!-- type="password" -->
                            <input v-model="x.value"
                            :name="key"
                            class="form-control"
                            :class="errMsgs[key]==''?'is-valid':'is-invalid'">
                            
                        </label>
                    </div>
                    <button class="btn btn-info mt-5" :disabled="disabled">送出</button>
                </form>
            </div>
        </main>
    </div>
    
    <script>
        let data = {
            isMember:false,

            // model傳資料過來
            //'@Model?.CreateMemberForm?.BindKey',

            fields:{
                bindKey:{
                    text:'密鑰',
                    value:'qweqw',
                },
                // bindKeyCheck:{
                //     text:'確認密鑰',
                //     value:'qw',
                // },
            },
            errMsgs:{
                bindKey:'',
                //bindKeyCheck:'',
            },
            disabled:true,
            // 至少x碼  
            // 必須由 英文/數字 組成 
        }
    </script>
    <script src="../../js/Account/untracked.js"></script>

</body>
</html>