@{
    ViewData["Title"] = "關於/聯繫管理者";
}
<h1>@ViewData["Title"]</h1>
<hr>

<ul class="row row-cols-1 row-cols-md-2">
    <li class="col">
        <h4>網站開發者：</h4>
        <p>洪偉軒</p>
        <p>中和33區</p>
        <p>LineID：redgrandfa</p>
        <p>email：redgrandfa@gmail.com</p>
        <p>0907 204 075</p>
        <p><b>如網站出問題，可聯繫我回報。可以文字訊息/截圖/通話/視訊</b></p>
    </li>
    <li class="col">
        <h4>視覺設計師：</h4>
        <p>蔡維宸</p>
        <p>【設計中...】</p>
    </li>
</ul>

<hr>
<h4>其他供道親使用的網站服務資源：</h4>
暫無，預計下一個推出 代理投資服務...
