@{
    ViewData["Title"] = "首頁";
}


<h2 class="slogan-title">
	EXPLORE<br>
	WISDOM
</h2>

<p class="slogan-text mb-0">
	聖人把智慧都放在經典中<br>
	留下文字讓我們盡情探索
</p>

@if (User.Identity.IsAuthenticated)
{    var showName = User.Claims
        .FirstOrDefault(c=> c.Type== Common.Helpers.Define.CLAIMTYPE_SHOWNAME)
        ?.Value;

	<a href="/Account/Logout" class="nav-login without-hyperLink-style">
		<p class="mb-0">歡迎回來，<b>@showName</b></p>
		登出 LOGOUT
		<div class="login-image-btn"></div>
	</a>	
}
else
{
	<a href="/Account/Login" class="nav-login without-hyperLink-style">
		登入 LOGIN 
		<div class="login-image-btn"></div>
	</a>	
}

@section TopCSS{
    <link rel="stylesheet" href="~/css/Home/index.css">
}