@{
    ViewData["Title"] = "首頁";
}

<div class="d-flex flex-column align-items-center flex-md-row-reverse justify-content-around">
    <div class="d-flex flex-column align-items-center">
        <p>這不是筆試考古題喔。</p>
        <p>從經典中找一些知識點化為習題，激勵學習動力用。</p>
        <p> 10部經典 / 22考科</p>
        <p style="font-size:33px;">登入以開始使用服務</p>
        <p>(網站美觀度：正在請設計師設計中)</p>
    </div>
</div>

@section TopCSS{
    <link rel="stylesheet" href="~/css/Home/index.css">
}