@{
    ViewData["Title"] = "Home Page";
}


<div class="d-flex flex-column align-items-center flex-md-row-reverse justify-content-around">
    @*<img src="https://picsum.photos/300/200/?random=10" class="mb-5">*@

    <div class="d-flex flex-column align-items-center">
        <p> 10經典 / 22考科 / 200卷 </p>
        <p>選擇題 / 默寫題</p>
        <p>練習完提交瞬間批改完畢，並自動下載PDF檔/ html檔? </p>
        <p>登入以開始使用服務</p>
    </div>
</div>

@section TopCSS{
    <link rel="stylesheet" href="~/css/Home/index.css">
}