<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>BsVueTemplate</title>

        <link rel="stylesheet" href="../../lib/cssReset.css">
        <!-- Load required Bootstrap and BootstrapVue CSS -->
        <link
            type="text/css"
            rel="stylesheet"
            href="./library/bootstrap4_6_1.min.css"
        />
        <link
            type="text/css"
            rel="stylesheet"
            href="./library/bootstrap-vue2_22_0.min.css"
        />

        <!-- Load polyfills to support older browsers -->
        <script
            src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"
            crossorigin="anonymous"
        ></script>

        <!-- Load Vue followed by BootstrapVue -->
        <script src="./library/vue2_6_12.min.js"></script>
        <script src="./library/bootstrap-vue2_22_0.min.js"></script>

        <!-- Load the following for BootstrapVueIcons support -->
        <script src="./library/bootstrap-vue-icons2_22_0.min.js"></script>

    </head>
    <body>
        <div id="vue_exercise_list">
            <!-- 考慮改多選方塊? select-->
            <b-dropdown size="lg" text="選擇經典" class="m-2">
                <b-dropdown-item-button
                    v-for="(s,i) in scriptures"
                    v-on:click="chooseScripture(s)"
                    >{{s.title}}
                </b-dropdown-item-button>
            </b-dropdown>

            <!-- 此經典的下轄考科 手風琴區 -->
            <div class="accordion" role="tablist">
                <!-- 迭代 此經典的下轄考科 -->
                <b-card
                    v-for="(subject , i) in scriptureChoosed.subjects"
                    no-body
                    class="mb-1"
                >
                    <b-card-header header-tag="header" class="p-1" role="tab">
                        <b-button
                            block
                            variant="info"
                            v-b-toggle="'x'+subject.id"
						>{{scriptureChoosed.title}} {{ number_To_Chinese(subject.id)}}
                        </b-button>
                    </b-card-header>
                    <b-collapse
                        :id="'x'+subject.id"
                        accordion="my-accordion"
                        role="tabpanel"
                        visible
                    >
                        <b-card-body>
                            <div>
								<b-table striped 
								:items="subject.papers" 
								:fields="fields">
								</b-table>
							</div>
                        </b-card-body>
                    </b-collapse>
                </b-card>
            </div>
        </div>
        
        <script src="../../lib/DB/scriptures.js"></script>
        <script src="../../js/Excercise/ExerciseList.js"></script>

    </body>
</html>
