<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BsVueTemplate</title>


	<link rel="stylesheet" href="../../lib/cssReset.css">


	<!-- Load required Bootstrap and BootstrapVue CSS -->
	<link type="text/css" rel="stylesheet" href="../../lib/bs-vue2_22_0/bootstrap4_6_1.min.css" />
	<link type="text/css" rel="stylesheet" href="../../lib/bs-vue2_22_0/bootstrap-vue2_22_0.min.css" />
	<!-- <link rel="stylesheet" href="/x.css"> -->


	<!-- Load polyfills to support older browsers -->
	<!-- <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script> -->

	<!-- Load Vue followed by BootstrapVue -->
	<script src="../../lib/bs-vue2_22_0/vue2_6_12.min.js"></script>
	<script src="../../lib/bs-vue2_22_0/bootstrap-vue2_22_0.min.js"></script>

	<!-- Load the following for BootstrapVueIcons support -->
	<script src="../../lib/bs-vue2_22_0/bootstrap-vue-icons2_22_0.min.js"></script>

	<link rel="stylesheet" href="../../css/Excercise/Record.css">

	<style>
	</style>
</head>

<body>
	<header>
		<div class="container"></div>
	</header>

	<main>
		<div class="container py-5">
			<div id="vue_record">
				<div class="row">
					<div class="col-12 col-md-8">
						<h2>{{paper.title}} </h2>
						<span>{{paper.range_remark}} </span>
					</div>
					<div class="col-12 col-md-4">
						<p>總題數<span class="numberOfQuestions">{{paper.questions.length}}</span></p>
						<p>得分數<span class="score">{{paper.score}}</span>題</p>
						<p>得分率<span class="percentScore">{{paper.percentScore}}</span>%</p>
					</div>
				</div>

				<div class="">
					<ul>
						提示
						<li>選擇題1分</li>
						<li>填充題每格1分</li>
						<li>默寫題10分(回答完整字句不含標點，全對才給分，沒有部分給分)</li>
					</ul>

					<ol>
						<li v-for="(q,i) in showQuestions">
							<div class="question-order">{{q.order}}.</div>
							<div v-if="q.type==1" class="mb-5">
								<div class="pl-3">
									<p>{{q.stem}}</p>
									<div v-for="(choice,j) in q.choices">
										<label>
											<input disabled type="radio" :name="i" :value="j" v-model="q.chooesd">
											{{choice}}
											<span v-if="j==q.answer">正解V</span>
										</label>
									</div>
								</div>
							</div>

							<div v-else-if="q.type==2">
								<div class="pl-3">
									<p>{{q.stem}}</p>
									<input disabled type="text" v-model="q.reply">
									<br>
									正解: <input disabled type="text" v-model="q.answer">
								</div>
							</div>

							<div v-else-if="q.type==3">
								<span v-for="(fraction , index) in q.stems">
									{{fraction}}<input disabled v-model="q.replies[index]" >
									<!-- q.answers -->
								</span>
							</div>
						</li>
					</ol>



				</div>
			</div>
	</main>

	<footer>
		<div class="container"></div>
	</footer>


	<script>
		let createTimeId = '@Model';
	</script>
	<script src="../../js/Excercise/Record.js"></script>
</body>

</html>