$theme_color : #03787c;

%bg-theme{
    background-color: $theme_color;
    color: #fff;
}

header{
    @extend %bg-theme;

    // padding-top: 33px;
    // padding-bottom: 111px;
}

main{

    button.submit{
        @extend %bg-theme;
    }
}