*{
  margin: 0;
  padding: 0;
  list-style: none;
}

body{
  background-color: #000;
  // background-image: none;
  font-family: "Noto Sans TC",sans-serif;
  display: flex;
  align-items: center;
  height: 100vh;
}

$barheight:36px;
%bar{
  border: none;
  width: 100%;
  line-height: $barheight;
  border-radius: $barheight/2;
  padding: 0 $barheight/2;
}

.box{
  background-color: #fff;
  width: 255px;
  color: #fff;
  margin: auto;
  .banner{
    background-color: #c22;
    padding:0 12px;
    .LOGO{}
    .title{
      font-size: 30px;
      line-height: 60px;
    }
  }

  .signSelect{
    display: flex;

    div{
      text-align: center;
      line-height: 30px;
      width: 50%;
      background-color: #474747;
      padding: 10px;

      border: 1px solid #000;
    }
  }

  .inputArea{
    font-size: 12px; 
    padding: 40px;
    background-color: #474747;
    input{
      @extend %bar;
      margin-bottom: 20px;

    }
    button{
      @extend %bar;
      background-color: #CF54FB;
      display: block;
      color: #fff;
    }
  }
}






::-webkit-input-placeholder{
  color: #aaa;
}
