@* @using Microsoft.AspNetCore.Authentication.Cookies
@using ScriptureExercise.Models.AccountVM *@

@* @{
    List<LoginOptionVM> loginOptions = new List<LoginOptionVM>
    {
    //new LoginOptionVM("輸入帳密登入", "bg-success",CookieAuthenticationDefaults.AuthenticationScheme),
    new LoginOptionVM("Line登入", "bg-success","Line"),
    new LoginOptionVM("Google登入", "bg-info",Microsoft.AspNetCore.Authentication.Google.GoogleDefaults.AuthenticationScheme),
    new LoginOptionVM("IG登入", "bg-danger","Instagram"),
    new LoginOptionVM("臉書登入",
    "bg-primary",Microsoft.AspNetCore.Authentication.Facebook.FacebookDefaults.AuthenticationScheme),
    };
} *@
<div id="vue_login">
    <div>
        <b-form-group
            :label="fields.account.text" 
            label-for="fields-account"
            valid-feedback="OK"
            :invalid-feedback="errMsgs.account" 
            @* :state="errMsgs.account==''" *@
        >
            <b-form-input 
                id="fields-account" 
                v-model="fields.account.value" 
                :state="errMsgs.account==''" 
            ></b-form-input>
        </b-form-group>

        <b-form-group
            :label="fields.password.text" 
            label-for="fields-password"
            valid-feedback="OK"
            :invalid-feedback="errMsgs.password" 
            @* :state="errMsgs.password==''" *@
        >

            <b-icon
                :icon="fields.password.visible?'eye':'eye-slash'"
                v-on:click="changeVisible('password')"
            ></b-icon>

            <b-form-input 
                id="fields-password" 
                v-model="fields.password.value" 
                :state="errMsgs.password==''" 
                :type="fieldPasswordType"
            ></b-form-input>
        </b-form-group>

        <div class="d-flex justify-content-around">
            <b-button :disabled="disabled" v-on:click="post('Register')" variant="success">註冊</b-button>
            <b-button :disabled="disabled"  v-on:click="post('Login')" variant="primary">登入</b-button>
        </div> 
    </div> 

@* <div class="login-info text-center my-5">
        <p>每位會員，可有多種第三方登入管道</p>
        <p>這些帳號將透過會員密鑰，綁定至同一會員</p>
    </div>

    <div class=" row row-cols-1 row-cols-md-2">
        <!-- <a v-for="(loginOption ,i) in loginOptions"
            :href="'/Account/LoginOption/'+loginOption.scheme"
            :style="{'background-color': loginOption.color}"
            class="col btn btn-primary" 
            >
            google
                <i :class="loginOption.icon">O</i>
                {{loginOption.text}}
            </a> -->
        @foreach (var loginOption in loginOptions)
        {
            <div class="col">
                <a href="/Account/LoginOption/@(loginOption.Scheme)" class="w-100 mb-4 btn @loginOption.Color text-white">
                    <i class="@loginOption.Icon"></i>
                    @loginOption.DisplayName
                </a>
            </div>
        }
    </div> *@
</div>


@section TopCSS{
    <link rel="stylesheet" href="~/css/Account/login.css">
}
@section Scripts{
    <script src="~/js/Account/login.js"></script>
}