@using ScriptureExercise.Models.AccountVM
@model CreateMemberPostModel
@{
    ViewData["Title"] = "此帳號未綁定至會員";
}


<div id="vue_untracked">
    <div class="untracked py-5 d-flex flex-column align-items-center">
        <p>使用 @User.Identity.AuthenticationType 帳號登入的 @User.Identity.Name 您好：</p>
        <p>此帳號尚未綁定至本服務的任一會員下</p>
        <p>您已經是本服務的會員了嗎</p>

        <input class="toggleInput" type="checkbox" v-model="isMember" id="x"/>
        <label for="x">
            <span class="switch-txt" turnOn="是" turnOff="否"></span>
        </label>
    </div>
@* :action="formAction" *@
    <div  class="d-flex flex-column align-items-center" >
        <p v-if="isMember">
            請輸入您的<b>會員密鑰</b>，將此帳號綁定至同一會員身分下 
        </p>
        <p v-else>
            請首次設定<b>會員密鑰</b>以建立新會員，未來其他帳號可透過密鑰綁定至同一會員下
        </p>


        <b-form-group
            :label="fields.bindKey.text"
            label-for="fields_bindKey"
            valid-feedback="OK"
            :invalid-feedback="errMsgs.bindKey"
            @* :state="errMsgs.bindKey==''" *@
        >
            <b-icon
                :icon="fields.bindKey.visible?'eye':'eye-slash'"
                v-on:click="changeBinkeyVisible()"
            ></b-icon>

            <b-form-input 
                @* name="fields.bindKey.name" *@
                id="fields_bindKey" 
                v-model="fields.bindKey.value" 
                :state="errMsgs.bindKey==''"
                :type="fields.bindKey.visible?'text':'password'"
            >
            </b-form-input>
        </b-form-group> 
        <button class="btn btn-info mt-5" :disabled="disabled" v-on:click="submit()">送出</button>

    </div>
</div>

@section TopCSS{
    <link rel="stylesheet" href="~/css/Account/untracked.css">
}
@section Scripts{
    <script>
        let data = {
            isMember:false,
            fields:{
                bindKey:{
                    text:'密鑰',
                    @* name:'bindKey', *@
                    value:'',
                    visible:false,
                },
            },
            errMsgs:{
                bindKey:'',
            },
            disabled:true,
        }
    </script>
    <script src="~/js/Account/untracked.js"></script>
}