.halo{
    display: none;
}

#main-bottom{
    height:  44px;
}

//---------
.exercise-banner{
    text-align: center;
    margin-bottom: 18px;
    &>.h{
        font-family: 'GenSekiGothic JP';
        font-style: normal;
        font-weight: 900;
        line-height: 30px;
        margin: 0;

    }
    h2{
        font-size: 24px;
    }
    h3{
        font-size: 18px;
    }
}
.question-container{
    margin: 27px 0 44px;
    padding: 0px 44px;
    // background-color: #fff;
}

.question{
    margin-top: 27px;
}

//old
.question-order{
    width: 2 rem;
}

.actions{
    padding: 0 44px;
}