.white-sun{
    // display: none;
    left: auto;
    margin-left: -245px;
}


main{
    overflow: visible;
}

$subject-card-halfGap:7px;

.subjects{
    // margin-top: 135px;
    margin-bottom: 0;
    padding: 0 34px $subject-card-halfGap;

    max-height: calc(100vh - 238px);
    overflow-y: auto;
}

.subject-card a{
    width: fit-content;
    color: #000;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: $subject-card-halfGap;
    padding-bottom: $subject-card-halfGap;
}
.subject-card-header{
    // cursor: pointer;
    .cover{
        width: 80.5px;
        height: 80.5px;

        border-radius: 20px;
        box-sizing: border-box;
        // border: 1px solid #DDD;
        // background-color: #DDD;

        // background-image: url("../../images/A_cover.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}
.subject-card-body{
    flex-grow: 1;
    margin: 0 30px;
    .title{
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
    }
    .author{
        font-size: 14px;
        line-height: 14px;
    }
}
.subject-card-footer{
    .collect{
        color: #8A8A9D;
        font-size: 20px;
        // &:disabled{
        //     cursor: default;
        // }
    }
}
