@import "../Exercise/exerciseBase";

.hint{
    margin: auto;
    width: fit-content;
    background: #EFEFEF;
    padding: 9px 28px;
    

    p{
        margin: 0;
        font-size: 11px;
        line-height: 16px;
        color: #787878;
    }
}