@import "../Exercise/exerciseBase";

.hint{
    margin: auto;
    width: 236px;
    background: #EFEFEF;
    
    padding: 9px 0;

    p{
        margin: 0;
        text-align: center;
        font-size: 11px;
        line-height: 16px;
        color: #787878;
    }
}