@import "../Exercise/exerciseBase";


.result{
    font-family: 'GenSekiGothic JP';
    font-style: normal;

    margin: auto;
    width: 236px;
    text-align: center;

    color: #787878;

}

.score{
    padding-top: 40px;
    position: relative;

    .comment{
        border-radius: 20px;
        width: fit-content;
        padding: 17px;

        font-weight: 900;
        color: #000;

        position: absolute;
        top: -13px;
        right: -24px;
    }
    &.green{
        background: #E1FFDC;
        .comment{
            background: #24FF00;
        }
    }
    &.red{
        background: #FFDEDC;
        .comment{
            background: #FF0F00;
        }
    }
    
    span{
        display: block;
    }

    .main-text{
        font-size: 50px;
        line-height: 50px;
        font-weight: 700;
    }
    .sm-text-container{
        padding: 18px 0 19px;
        font-size: 11px;
        line-height: 16px;
        font-weight: 700;
    }
    // .sm-text{}
}

.filters{
    background: #F3F3F3;
    padding: 7px 0;
    .filter{
        font-family: 'GenSekiGothic JP';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;

        label{
            transform: scale(0.8);
        }
    }
}

.question-container{
    height: calc(100vh - 333px);
    overflow-y: auto;
}

.essay-question-answer{
    font-size: 11px;
}
.choices-question-answer_matched,
.essay-question-answer_matched{
    color: #0c0;
}
.choices-question-answer_different,
.essay-question-answer_different{
    color: #e00;
}