main{
    font-weight: 500;
}



.title{
    font-size: 24px;
}

.hint{
    font-size: 12px;
    
    color: #787878;
}

.records-container{
    margin-top: 22px;
    background-color: #fff;
    
    min-height: 111px;
    // max-height: calc(100vh - 177px);
    // overflow-y: auto;
}

.thead-tr-class{
    text-align: center;
    
    th>div{
        font-size: 14px;
        // line-height: 30px;
        
        color: #313B5D;
    }
}


.table{
    th, td {
        text-align: center;
        vertical-align: middle;
    }
}

.td-createTime{
    font-size: 11px;
    line-height: 15px;
    color: #787878;

    span{
        display: block;
    }
}

.td-percentScore{
    font-size: 30px;

    color: #787878;
}