@import "../Exercise/subjectBase";

.subject-filters{
    // position: fixed;
    // top: 100px; 

    width: 100%;
    // min-width: 320px;
    max-width: 444px;

}

.subject-search{
    position: relative;
    padding: 0 20px;
    i{
        color: #aaa;
        font-size: 22px;
        font-weight: 600;

        height: 22px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto 0 auto 1rem;
    }
    input{
        display: block;
        height: 47px;
    
        box-shadow: 5px 5px 50px rgba(210, 213, 234, 0.45);
        
        border: none;
        border-radius: 6px;
    
        padding-left:3em;

        &::placeholder {
            color: #999;
            font-weight:500;
        }
    }
}

.subject-categories{
    padding: 17px 41px 17px 33px;

    label{
        font-size: 20px;
        font-weight: 900;
        cursor: pointer;
        padding: 10px;
    }
    input:not(:checked)+label{
        color: #E5E5E5;
    }
}